body {
    margin: 0;
    background:rgb(3, 13, 58);
    text-align:left;
    text-decoration-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing:inherit;
    font-variant:small-caps;
    font-stretch:wider;
}
h1 {
    font-size: 40pt;
    color: white;
    background-color: black;
}
h2 {
    font-size: 25pt;
    color: white;
}